{% extends 'base-login.html.twig' %}

{% if passwordSendSuccess %}
    {% set pageTitle = "Aktivace proběhla úspěšně" %}
{% elseif passwordSendError %}
    {% set pageTitle = "Při aktivaci došlo k chybě" %}
{% else %}
    {% set pageTitle = "Zapomenuté heslo" %}
{% endif %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block loginform %}
    <div class="row login-form d-flex align-items-center">
        <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4 text-center">
            {% if not passwordSendSuccess and not passwordSendError %}
                <h1 class="h3 mb-3 text-center font-weight-normal">Fakturáč</h1>
                <h2 class="h4 mb-3 text-center font-weight-normal">Registrace uživatele</h2>

                {#% if registerError is not null %}
                    <div class="alert alert-danger">
                        {% if registerError == 'user_already_registered' %}
                            <span class="text-left">E-mail je již registrován.</span>
                        {% endif %}
                    </div>
                {% endif %#}

                {{ form_start(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.save) }}

                {{ form_end(form) }}
            {% else %}
            {% if passwordSendSuccess %}
                <div class="bg-success text-white rounded p-3 mb-3">
                    <h1 class="h3 mb-3 text-center font-weight-normal">Bingo!</h1>
                    <p class="font-weight-bold">Na vaši e-mailovou adresu byl odeslán e-mail s novým heslem.</p>
                    <hr>
                    <p class="text-left">Až dorazí, můžete se s tímto heslem <a href="{{ path('app_login') }}">přihlásit</a>.</p>
                </div>
            {% endif %}
            {% if passwordSendError %}
                <div class="bg-danger text-white rounded p-3 mb-3">
                    <h1 class="h3 mb-3 text-center font-weight-normal">Ajajaj!</h1>
                    <p class="font-weight-bold">E-mail, na který se pokoušíte zaslat heslo, nebyl nalezen!</p>
                    <hr>
                    <p class="text-left">Co za tím může být?</p>
                    <ul class="text-left">
                        <li>Zatím jste se neregistroval(a). <a class="text-light" href="{{ path('app_register') }}">Registrujte
                                se.</a></li>
                        <li>Překlep v adrese.</li>
                        <li>Něco jiného...</li>
                    </ul>
                    <p class="text-left">Vraťte se na <a class="text-light" href="{{ path('app_login') }}">přihlašovací
                            stránku.</a></p>
                </div>
            {% endif %}
            {% endif %}
            <a href="{{ path('app_login') }}" class="btn btn-default bg-light rounded-pill float-left">Přihlásit se</a>
            <div class="clearfix"></div>
            <hr>
            <p>&copy; 2019 Tomáš Škvrna</p>
        </div>
    </div>
{% endblock %}