{% extends 'base-logged.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>

    <a class="btn btn-light btn-lg rounded-pill mb-3" href="{{ path('user_new') }}"><i class="fas fa-plus"></i> Vytvořit nového uživatele</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Jméno / Email</th>
                <th>Aktivní?</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    {% if user.profiles.count() > 0 %}
                        {{ user.profiles|first.firstName }} {{ user.profiles|first.lastName }} /
                    {% endif %}
                    {{ user.email }}
                </td>
                <td>
                    {% if user.isActive %}
                        <div class="btn btn-sm btn-success rounded-pill"><i class="fas fa-check"></i></div>
                    {% else %}
                        <div class="btn btn-sm btn-danger rounded-pill"><i class="fas fa-cross"></i></div>
                    {% endif %}
                </td>
                <td>
                    <a title="zobrazit" class="btn btn-sm btn-light rounded-pill" href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-file"></i></a>
                    <a title="upravit" class="btn btn-sm btn-primary rounded-pill" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <a title="smazat" class="btn btn-sm btn-danger rounded-pill" href="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('Opravdu chcete smazat tohoto uživatele?');"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
